<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">
           
	 <http auto-config="false" use-expressions="true" disable-url-rewriting="true" 
		entry-point-ref="authenticationEntryPoint" >
		
		   	<intercept-url pattern="/login.html"  access="permitAll"/>
		   	<intercept-url pattern="/logout.html"  access="permitAll"/>
		   	<intercept-url pattern="/confirmlogout.html"  access="permitAll"/>
		   	<intercept-url pattern="/parikshakteam.html" access="permitAll"/> 
		  	<intercept-url pattern="/vieworganization.html" access="permitAll"/>
		  	<intercept-url pattern="/orgregistration.html" access="permitAll"/>
		  	<intercept-url pattern="/signup.html"  access="permitAll"/>
		  	  
		  	
		  	<intercept-url pattern="/myHome.html" access="isAuthenticated()"/>
		  	<intercept-url pattern="/editprofile.html" access="isAuthenticated()"/>
		  	<intercept-url pattern="/updateprofile.html" access="isAuthenticated()"/>
		  	<intercept-url pattern="/userprofile.html" access="isAuthenticated()"/>
		  	<intercept-url pattern="/selfassesment.html" access="isAuthenticated()"/>
		  	<intercept-url pattern="/compile.html" access="isAuthenticated()"/>
		  	<intercept-url pattern="/postdiscussion.html" access="isAuthenticated()"/>
		  	<intercept-url pattern="/getdiscussion.html" access="isAuthenticated()"/>
		  	<intercept-url pattern="/approvediscussion.html" access="isAuthenticated()"/>
		  	<intercept-url pattern="/getcurrentpost.html" access="isAuthenticated()"/>
		  	<intercept-url pattern="/getcurrentpostall.html" access="isAuthenticated()"/>
		  	
		  	<intercept-url pattern="/liveexam.html" access=" hasRole('STUDENT') "/>
		  	<intercept-url pattern="/liveassignment.html" access=" hasRole('STUDENT') "/>
		  	<intercept-url pattern="/onlinetestform.html" access=" hasRole('STUDENT') "/>
		  	<intercept-url pattern="/examreport.html" access=" hasRole('STUDENT') "/>
		  	<intercept-url pattern="/assignmentreport.html" access=" hasRole('STUDENT') "/>
		  	<intercept-url pattern="/gradproblem.html" access=" hasRole('STUDENT') "/>
		  	<intercept-url pattern="/practice.html" access=" hasRole('STUDENT') "/>
		  	<intercept-url pattern="/practicereport.html" access=" hasRole('STUDENT') "/>
		  	
		  	<intercept-url pattern="/createquestion.html" access=" hasAnyRole('TEACHER', 'STUDENT') "/>
		  	<intercept-url pattern="/editquestion.html" access=" hasAnyRole('TEACHER', 'STUDENT') "/>
		  	<intercept-url pattern="/questionlist.html" access=" hasAnyRole('TEACHER', 'STUDENT') "/>
		  	<intercept-url pattern="/updatequestion.html" access=" hasAnyRole('TEACHER', 'STUDENT') "/>
		  	<intercept-url pattern="/deletequestion.html" access=" hasAnyRole('TEACHER', 'STUDENT') "/>
		  	<intercept-url pattern="/showquestion.html" access=" hasAnyRole('TEACHER', 'STUDENT') "/>
		  	
		  	<intercept-url pattern="/createcategory.html" access=" hasRole('TEACHER') "/>
		  	<intercept-url pattern="/editcategory.html" access=" hasRole('TEACHER') "/>
		  	<intercept-url pattern="/categorylist.html" access=" hasRole('TEACHER') "/>
		  	<intercept-url pattern="/updatecategory.html" access=" hasRole('TEACHER') "/>
		  	<intercept-url pattern="/deletecategory.html" access=" hasRole('TEACHER') "/>
		  	<intercept-url pattern="/showcategory.html" access=" hasRole('TEACHER') " />
		  	
		  	<intercept-url pattern="/createtest.html" access=" hasRole('TEACHER') "/>
		  	<intercept-url pattern="/edittest.html" access=" hasRole('TEACHER') "/>
		  	<intercept-url pattern="/testlist.html" access=" hasRole('TEACHER') "/>
		  	<intercept-url pattern="/updatetest.html" access=" hasRole('TEACHER') "/>
		  	<intercept-url pattern="/deletetest.html" access=" hasRole('TEACHER') "/>
		  	<intercept-url pattern="/showtest.html" access=" hasRole('TEACHER') " />
		  	<intercept-url pattern="/getquestionfortest.html" access=" hasRole('TEACHER') " />
		  	<intercept-url pattern="/getusersfortest.html" access=" hasRole('TEACHER') " />
		  	
			<intercept-url pattern="/studentreport.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			<intercept-url pattern="/processstudentreport.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			<intercept-url pattern="/livemonitoring.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			<intercept-url pattern="/adduser.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			<intercept-url pattern="/creategroup.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			<intercept-url pattern="/editgroup.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			<intercept-url pattern="/grouplist.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			<intercept-url pattern="/updategroup.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			<intercept-url pattern="/deletegroup.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			<intercept-url pattern="/increaseAttempt.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			<intercept-url pattern="/plagiarismcheck.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			<intercept-url pattern="/studentpracticereport.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			
			<intercept-url pattern="/pending.html" access=" hasAnyRole('SUPERADMIN','ADMIN','TEACHER') "/>
			<intercept-url pattern="/userlist.html" access=" hasAnyRole('SUPERADMIN','ADMIN','TEACHER') "/>
			<intercept-url pattern="/editotherprofile.html" access=" hasAnyRole('SUPERADMIN','ADMIN','TEACHER') "/>
			<intercept-url pattern="/approverequest.html" access=" hasAnyRole('SUPERADMIN','ADMIN','TEACHER') "/>
			<intercept-url pattern="/sendreminderemail.html" access=" hasAnyRole('SUPERADMIN','ADMIN','TEACHER') "/>
			<intercept-url pattern="/deleteuser.html" access=" hasAnyRole('SUPERADMIN','ADMIN','TEACHER') "/>
			<intercept-url pattern="/addsingleuser.html" access=" hasAnyRole('SUPERADMIN','ADMIN','TEACHER') "/>
			<intercept-url pattern="/saveSingleUser.html" access=" hasAnyRole('SUPERADMIN','ADMIN','TEACHER') "/>
			<intercept-url pattern="/killusersession.html" access=" hasAnyRole('SUPERADMIN','ADMIN','TEACHER') "/>
			<intercept-url pattern="/showlanguage.html" access=" hasAnyRole('SUPERADMIN','ADMIN','TEACHER') "/>
			
			<intercept-url pattern="/editorganization.html" access=" hasAnyRole('SUPERADMIN','ADMIN') "/>
			<intercept-url pattern="/updateorganization.html" access=" hasAnyRole('SUPERADMIN','ADMIN') "/>
			<intercept-url pattern="/setting.html" access=" hasAnyRole('ADMIN','SUPERADMIN') "/>
			<intercept-url pattern="/updatesetting.html" access=" hasAnyRole('ADMIN','SUPERADMIN') "/>
			
			<intercept-url pattern="/addlanguage.html" access=" hasRole('SUPERADMIN') "/>
			<intercept-url pattern="/languagelist.html" access=" hasRole('SUPERADMIN') "/>
			<intercept-url pattern="/editlanguage.html" access=" hasRole('SUPERADMIN') "/>
			<intercept-url pattern="/updatelanguage.html" access=" hasRole('SUPERADMIN') "/>
			<intercept-url pattern="/deletelanguage.html" access=" hasRole('SUPERADMIN') "/>
			
			<intercept-url pattern="/addorganization.html" access=" hasRole('SUPERADMIN') "/>
			<intercept-url pattern="/systemcontrol.html" access=" hasRole('SUPERADMIN') "/>
			
			<!-- 
			<custom-filter position="CONCURRENT_SESSION_FILTER" ref="concurrencyFilter" />
			 -->
			<custom-filter position="FORM_LOGIN_FILTER" ref="authenticationFilter" />
			
			<custom-filter after="SESSION_MANAGEMENT_FILTER" ref="sessionRegistryFixFilter" />
			<custom-filter after="EXCEPTION_TRANSLATION_FILTER" ref="ajaxTimeoutRedirectFilter" />
 			
 			<session-management session-authentication-strategy-ref="sas" />
			
			<logout invalidate-session="true" delete-cookies="JSESSIONID" logout-success-url="/login.html?sessionMsg=Logout !" />
			 
			
	</http>
		
	<beans:bean id="authenticationEntryPoint"
  		class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
  			<beans:constructor-arg name="loginFormUrl" value="/login.html?sessionMsg=Session Expired" />
	</beans:bean>
	 
	<beans:bean id="concurrencyFilter"
   		class="org.springframework.security.web.session.ConcurrentSessionFilter">
   			<beans:constructor-arg name="sessionRegistry" ref="sessionRegistry"/>
   			<beans:constructor-arg name="expiredUrl" value="/login.html?sessionMsg=Session Expired !" />
	   		<!-- Deprecated
	  				<beans:property name="sessionRegistry" ref="sessionRegistry" />
	  				<beans:property name="expiredUrl" value="/login.html?sessionMsg=Session Expired !" />
	  		-->
	</beans:bean>
 	
	
	<beans:bean id="authenticationFilter" 
		class="in.cdac.util.CustomUsernamePasswordAuthenticationFilter">
			<beans:property name="myAuthenticationManager" ref="myAuthenticationManager" />
			<beans:property name="authenticationManager" ref="authenticationManager" />
			<beans:property name="userService" ref="userService" />
  			<beans:property name="sessionAuthenticationStrategy" ref="sas" />
  			<beans:property name="authenticationFailureHandler" ref="authenticationFailureHandler"/>
  			<beans:property name="authenticationSuccessHandler" ref="authenticationSuccessHandler"/>
	</beans:bean>
	
	<beans:bean id="sas" 
		class="in.cdac.util.CustomConcurrentSessionControlStrategy">
  			<beans:constructor-arg name="sessionRegistry" ref="sessionRegistry" />
  			<beans:property name="settingService" ref="settingService" />
  			<beans:property name="exceptionIfMaximumExceeded" value="true"/>
  			<!-- <beans:property name="maximumSessions" value="1" />  -->
	</beans:bean>

	<beans:bean id="sessionRegistry"
    	class="org.springframework.security.core.session.SessionRegistryImpl" />
 	
 	<beans:bean id="authenticationSuccessHandler" class="in.cdac.util.AuthenticationSuccessHandler">
 		<beans:property name="defaultTargetUrl" value="/myhome.html"/>
 	</beans:bean>
 	
 	<beans:bean id="authenticationFailureHandler" 
 		class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
 			<beans:property name="defaultFailureUrl" value="/login.html"/>
 	</beans:bean>
 	
 	<authentication-manager id="authenticationManager">
         <authentication-provider user-service-ref="userDetailsService">
           <password-encoder hash="md5" />
         </authentication-provider>
 	</authentication-manager>
 	
 	<authentication-manager alias="myAuthenticationManager" >
         <authentication-provider user-service-ref="userDetailsService">
           <password-encoder hash="plaintext" />
         </authentication-provider>
 	</authentication-manager>
 	
 	<beans:bean id="sessionRegistryFixFilter" class="in.cdac.util.SessionRegistryFixFilter">
  		<beans:property name="sessionRegistry" ref="sessionRegistry"/>
	</beans:bean>
	 
	
	<beans:bean id="ajaxTimeoutRedirectFilter" class="in.cdac.util.AjaxTimeoutRedirectFilter">
		<beans:property name="customSessionExpiredErrorCode" value="901"/>
	</beans:bean>
 	
</beans:beans>









<!-- *********** or ************** -->

<!-- 
<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd" >
           
	
	<http auto-config="true" use-expressions="true" disable-url-rewriting="true" >
		   	<intercept-url pattern="/login.html"  access="permitAll"/>
		   	<intercept-url pattern="/logout.html"  access="permitAll"/>
		  	<intercept-url pattern="/parikshakteam.html" access="permitAll"/> 
		  	<intercept-url pattern="/vieworganization.html" access="permitAll"/> 
		  	
		  	<intercept-url pattern="/myHome.html" access="isAuthenticated()"/>
		  	<intercept-url pattern="/editprofile.html" access="isAuthenticated()"/>
		  	<intercept-url pattern="/updateprofile.html" access="isAuthenticated()"/>
		  	<intercept-url pattern="/userprofile.html" access="isAuthenticated()"/>
		  	
		  	<intercept-url pattern="/selfassesment.html" access="isAuthenticated()"/>
		  	<intercept-url pattern="/compile.html" access="isAuthenticated()"/>
		  	
		  	
		  	<intercept-url pattern="/liveexam.html" access=" hasRole('STUDENT') "/>
		  	<intercept-url pattern="/liveassignment.html" access=" hasRole('STUDENT') "/>
		  	<intercept-url pattern="/onlinetestform.html" access=" hasRole('STUDENT') "/>
		  	<intercept-url pattern="/examreport.html" access=" hasRole('STUDENT') "/>
		  	<intercept-url pattern="/assignmentreport.html" access=" hasRole('STUDENT') "/>
		  	<intercept-url pattern="/gradproblem.html" access=" hasRole('STUDENT') "/>
		  	<intercept-url pattern="/practice.html" access=" hasRole('STUDENT') "/>
		  	
		  	<intercept-url pattern="/createquestion.html" access=" hasAnyRole('TEACHER', 'STUDENT') "/>
		  	<intercept-url pattern="/editquestion.html" access=" hasAnyRole('TEACHER', 'STUDENT') "/>
		  	<intercept-url pattern="/questionlist.html" access=" hasAnyRole('TEACHER', 'STUDENT') "/>
		  	<intercept-url pattern="/updatequestion.html" access=" hasAnyRole('TEACHER', 'STUDENT') "/>
		  	<intercept-url pattern="/deletequestion.html" access=" hasAnyRole('TEACHER', 'STUDENT') "/>
		  	<intercept-url pattern="/showquestion.html" access=" hasAnyRole('TEACHER', 'STUDENT') "/>
		  	
		  	<intercept-url pattern="/createcategory.html" access=" hasRole('TEACHER') "/>
		  	<intercept-url pattern="/editcategory.html" access=" hasRole('TEACHER') "/>
		  	<intercept-url pattern="/categorylist.html" access=" hasRole('TEACHER') "/>
		  	<intercept-url pattern="/updatecategory.html" access=" hasRole('TEACHER') "/>
		  	<intercept-url pattern="/deletecategory.html" access=" hasRole('TEACHER') "/>
		  	<intercept-url pattern="/showcategory.html" access=" hasRole('TEACHER') " />
		  	
		  	<intercept-url pattern="/createtest.html" access=" hasRole('TEACHER') "/>
		  	<intercept-url pattern="/edittest.html" access=" hasRole('TEACHER') "/>
		  	<intercept-url pattern="/testlist.html" access=" hasRole('TEACHER') "/>
		  	<intercept-url pattern="/updatetest.html" access=" hasRole('TEACHER') "/>
		  	<intercept-url pattern="/deletetest.html" access=" hasRole('TEACHER') "/>
		  	<intercept-url pattern="/showtest.html" access=" hasRole('TEACHER') " />
			
			<intercept-url pattern="/studentreport.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			<intercept-url pattern="/processstudentreport.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			<intercept-url pattern="/livemonitoring.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			<intercept-url pattern="/adduser.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			<intercept-url pattern="/creategroup.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			<intercept-url pattern="/editgroup.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			<intercept-url pattern="/grouplist.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			<intercept-url pattern="/updategroup.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			<intercept-url pattern="/deletegroup.html" access=" hasAnyRole('ADMIN','TEACHER') "/>
			
			
			<intercept-url pattern="/practicereport.html" access=" hasAnyRole('STUDENT','ADMIN','TEACHER') "/>
			
			
			<intercept-url pattern="/pending.html" access=" hasAnyRole('SUPERADMIN','ADMIN','TEACHER') "/>
			<intercept-url pattern="/userlist.html" access=" hasAnyRole('SUPERADMIN','ADMIN','TEACHER') "/>
			<intercept-url pattern="/editotherprofile.html" access=" hasAnyRole('SUPERADMIN','ADMIN','TEACHER') "/>
			<intercept-url pattern="/approverequest.html" access=" hasAnyRole('SUPERADMIN','ADMIN','TEACHER') "/>
			<intercept-url pattern="/sendreminderemail.html" access=" hasAnyRole('SUPERADMIN','ADMIN','TEACHER') "/>
			<intercept-url pattern="/deleteuser.html" access=" hasAnyRole('SUPERADMIN','ADMIN','TEACHER') "/>
			<intercept-url pattern="/killusersession.html" access=" hasAnyRole('SUPERADMIN','ADMIN','TEACHER') "/>
			
			<intercept-url pattern="/editorganization.html" access=" hasAnyRole('SUPERADMIN','ADMIN') "/>
			<intercept-url pattern="/updateorganization.html" access=" hasAnyRole('SUPERADMIN','ADMIN') "/>
			
			
			<intercept-url pattern="/addlanguage.html" access=" hasRole('SUPERADMIN') "/>
			<intercept-url pattern="/languagelist.html" access=" hasRole('SUPERADMIN') "/>
			<intercept-url pattern="/editlanguage.html" access=" hasRole('SUPERADMIN') "/>
			<intercept-url pattern="/updatelanguage.html" access=" hasRole('SUPERADMIN') "/>
			<intercept-url pattern="/deletelanguage.html" access=" hasRole('SUPERADMIN') "/>
			<intercept-url pattern="/showlanguage.html" access=" hasRole('SUPERADMIN') "/>
			
			<intercept-url pattern="/addorganization.html" access=" hasRole('SUPERADMIN') "/>
			<intercept-url pattern="/systemcontrol.html" access=" hasRole('SUPERADMIN') "/>
			
			
			
			<form-login login-page="/login.html?sessionMsg=Session Expired" 
					authentication-failure-url="/login.html" 
					authentication-success-handler-ref="authenticationSuccessHandler" />
					
			<session-management invalid-session-url="/login.html?sessionMsg=Session Expired" 
			 	 session-authentication-error-url="/login.html?sessionMsg=Already Login" session-fixation-protection="migrateSession">
					 <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" 
					 		expired-url="/login.html?sessionMsg=Already Login !" 
					 	 	session-registry-alias="sessionRegistry" /> 
			</session-management>
			
			<logout delete-cookies="JSESSIONID" logout-success-url="/login.html" />
			
			<custom-filter after="SESSION_MANAGEMENT_FILTER" ref="sessionRegistryFixFilter" />
			<custom-filter after="EXCEPTION_TRANSLATION_FILTER" ref="ajaxTimeoutRedirectFilter" />
   			
	</http>
	 
	 
	<authentication-manager>
         <authentication-provider user-service-ref="userDetailsService">
           <password-encoder hash="md5" />
         </authentication-provider>
 	</authentication-manager>

 	
 	<beans:bean id="authenticationSuccessHandler" class="in.cdac.util.AuthenticationSuccessHandler">
 		<beans:property name="defaultTargetUrl" value="/myhome.html" />
 	</beans:bean>


	<beans:bean id="sessionRegistry"
    	class="org.springframework.security.core.session.SessionRegistryImpl" />
    	
    
	 ** Used to register principal again in session registry after server restart and if principal is logged in
	<beans:bean id="sessionRegistryFixFilter" class="in.cdac.util.SessionRegistryFixFilter">
  		<beans:property name="sessionRegistry" ref="sessionRegistry"/>
	</beans:bean>
	 
	
	<beans:bean id="ajaxTimeoutRedirectFilter" class="in.cdac.util.AjaxTimeoutRedirectFilter">
		<beans:property name="customSessionExpiredErrorCode" value="901"/>
	</beans:bean>
	
		
</beans:beans>
-->
